.DS_Store

# cargo
config/.cargo/*
!config/.cargo/config.toml

# zed
config/.config/zed/*
!config/.config/zed/*.json

# ncspot
config/.config/ncspot/userstate.cbor

# cutler
config/.config/cutler/snapshot.json

# flutter
config/.config/flutter/*

# configstore (gemini-cli)
config/.config/configstore/*

# karabiner
config/.config/karabiner/automatic_backups
config/.config/karabiner/assets

# ssh
config/.ssh/id*
config/.ssh/known_hosts*

# vim
*.swp
