# https://github.com/hitblast
# Documentation reference: https://nikitabobko.github.io/AeroSpace/guide

# All possible keys:
# - Letters.        a, b, c, ..., z
# - Numbers.        0, 1, 2, ..., 9
# - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
# - F-keys.         f1, f2, ..., f20
# - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon,
#                   backtick, leftSquareBracket, rightSquareBracket, space, enter, esc,
#                   backspace, tab, pageUp, pageDown, home, end, forwardDelete,
#                   sectionSign (ISO keyboards only, european keyboards only)
# - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
#                   keypadMinus, keypadMultiply, keypadPlus
# - Arrows.         left, down, up, right

# All possible modifiers: cmd, alt, ctrl, shift

config-version = 2

after-login-command = []
after-startup-command = []

start-at-login = true

enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

accordion-padding = 80

default-root-container-layout = 'tiles'
default-root-container-orientation = 'horizontal'

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
automatically-unhide-macos-hidden-apps = false

[key-mapping]
preset = 'qwerty'

[gaps]
inner.horizontal = 8
inner.vertical = 8
outer.left = 0
outer.bottom = 0
outer.top = 0
outer.right = 0

# main mode bindings

[mode.main.binding]
cmd-alt-ctrl-slash = 'layout tiles horizontal vertical'
cmd-alt-ctrl-comma = 'layout accordion horizontal vertical'

cmd-alt-ctrl-h = 'focus left'
cmd-alt-ctrl-j = 'focus down'
cmd-alt-ctrl-k = 'focus up'
cmd-alt-ctrl-l = 'focus right'

cmd-alt-ctrl-f = 'fullscreen'

cmd-alt-ctrl-shift-h = 'move left'
cmd-alt-ctrl-shift-j = 'move down'
cmd-alt-ctrl-shift-k = 'move up'
cmd-alt-ctrl-shift-l = 'move right'

cmd-alt-ctrl-enter = 'exec-and-forget open -a /Applications/Ghostty.app'

cmd-alt-ctrl-shift-minus = 'resize smart -50'
cmd-alt-ctrl-shift-equal = 'resize smart +50'

cmd-alt-ctrl-u = 'workspace 1'
cmd-alt-ctrl-i = 'workspace 2'
cmd-alt-ctrl-o = 'workspace 3'
cmd-alt-ctrl-p = 'workspace 4'
cmd-alt-ctrl-y = 'workspace 0'
cmd-alt-ctrl-g = 'workspace G'

cmd-alt-ctrl-shift-u = 'move-node-to-workspace 1'
cmd-alt-ctrl-shift-i = 'move-node-to-workspace 2'
cmd-alt-ctrl-shift-o = 'move-node-to-workspace 3'
cmd-alt-ctrl-shift-p = 'move-node-to-workspace 4'
cmd-alt-ctrl-shift-y = 'move-node-to-workspace 0'
cmd-alt-ctrl-shift-g = 'move-node-to-workspace G'

cmd-alt-ctrl-leftSquareBracket = 'workspace-back-and-forth'
cmd-alt-ctrl-shift-semicolon = 'mode service'

# 'service' mode bindings

[mode.service.binding]
esc = ['flatten-workspace-tree', 'mode main'] 
r = ['reload-config', 'mode main'] 
f = [
    'layout floating tiling',
    'mode main',
] 

cmd-alt-ctrl-shift-h = ['join-with left', 'mode main']
cmd-alt-ctrl-shift-j = ['join-with down', 'mode main']
cmd-alt-ctrl-shift-k = ['join-with up', 'mode main']
cmd-alt-ctrl-shift-l = ['join-with right', 'mode main']

# App-specific callbacks
# Executed when an app instance has been initiated

[[on-window-detected]]
if.app-id = 'com.colliderli.iina'
run = 'move-node-to-workspace 0'

[[on-window-detected]]
if.app-id = 'com.spotify.client'
run = 'move-node-to-workspace 0'

[[on-window-detected]]
if.app-name-regex-substring = 'steam'
run = 'move-node-to-workspace G'

[[on-window-detected]]
if.app-id = 'com.mitchellh.ghostty'
run = 'move-node-to-workspace 1'

[[on-window-detected]]
if.app-id = 'dev.zed.Zed'
run = 'move-node-to-workspace 1'

[[on-window-detected]]
if.app-name-regex-substring = 'xcode'
run = 'move-node-to-workspace 1'

[[on-window-detected]]
if.app-id = 'com.apple.Safari'
run = 'move-node-to-workspace 2'

[[on-window-detected]]
if.app-id = 'net.imput.helium'
run = 'move-node-to-workspace 2'

[[on-window-detected]]
if.app-name-regex-substring = 'aseprite'
run = 'move-node-to-workspace 3'

[[on-window-detected]]
if.app-id = 'com.bohemiancoding.sketch3'
run = 'move-node-to-workspace 3'

[[on-window-detected]]
if.app-id = 'com.blackmagic-design.DaVinciResolveLite'
run = 'move-node-to-workspace 3'

[[on-window-detected]]
if.app-id = 'com.hnc.Discord'
run = 'move-node-to-workspace 4'

[[on-window-detected]]
if.app-id = 'dev.vencord.vesktop'
run = 'move-node-to-workspace 4'

[[on-window-detected]]
if.app-id = 'com.apple.mail'
run = 'move-node-to-workspace 4'
