# https://github.com/hitblast
# Documentation reference: https://nikitabobko.github.io/AeroSpace/guide

# All possible keys:
# - Letters.        a, b, c, ..., z
# - Numbers.        0, 1, 2, ..., 9
# - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
# - F-keys.         f1, f2, ..., f20
# - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon,
#                   backtick, leftSquareBracket, rightSquareBracket, space, enter, esc,
#                   backspace, tab, pageUp, pageDown, home, end, forwardDelete,
#                   sectionSign (ISO keyboards only, european keyboards only)
# - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
#                   keypadMinus, keypadMultiply, keypadPlus
# - Arrows.         left, down, up, right

# All possible modifiers: cmd, alt, ctrl, shift

config-version = 2

after-login-command = []
after-startup-command = []

start-at-login = true

enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

accordion-padding = 80

default-root-container-layout = 'tiles'
default-root-container-orientation = 'horizontal'

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
automatically-unhide-macos-hidden-apps = false

persistent-workspaces = ["U", "I", "O", "P", "4"]

[key-mapping]
preset = 'qwerty'

[gaps]
inner.horizontal = 8
inner.vertical = 8
outer.left = 0
outer.bottom = 0
outer.top = 0
outer.right = 0

# main mode bindings

[mode.main.binding]
alt-slash = 'layout tiles horizontal vertical'
alt-comma = 'layout accordion horizontal vertical'

alt-h = 'focus left'
alt-j = 'focus down'
alt-k = 'focus up'
alt-l = 'focus right'

alt-f = 'fullscreen'

alt-shift-h = 'move left'
alt-shift-j = 'move down'
alt-shift-k = 'move up'
alt-shift-l = 'move right'

alt-enter = 'exec-and-forget open -a /Applications/Ghostty.app'
alt-backslash = 'exec-and-forget open -a Launchpad'

alt-shift-minus = 'resize smart -50'
alt-shift-equal = 'resize smart +50'

alt-u = 'workspace U'
alt-i = 'workspace I'
alt-o = 'workspace O'
alt-p = 'workspace P'
alt-m = 'workspace M'
alt-g = 'workspace G'

alt-shift-u = 'move-node-to-workspace U'
alt-shift-i = 'move-node-to-workspace I'
alt-shift-o = 'move-node-to-workspace O'
alt-shift-p = 'move-node-to-workspace P'
alt-shift-m = 'move-node-to-workspace M'
alt-shift-g = 'move-node-to-workspace G'

alt-leftSquareBracket = 'workspace-back-and-forth'
alt-shift-semicolon = 'mode service'

# 'service' mode bindings

[mode.service.binding]
esc = ['flatten-workspace-tree', 'mode main']
r = ['reload-config', 'mode main']
f = [
    'layout floating tiling',
    'mode main',
]

alt-shift-h = ['join-with left', 'mode main']
alt-shift-j = ['join-with down', 'mode main']
alt-shift-k = ['join-with up', 'mode main']
alt-shift-l = ['join-with right', 'mode main']

# App-specific callbacks
# Executed when an app instance has been initiated

[[on-window-detected]]
if.app-name-regex-substring = 'steam'
run = 'move-node-to-workspace G'

[[on-window-detected]]
if.app-id = 'io.github.Mrmayman.QuantumLauncher'
run = 'move-node-to-workspace G'

[[on-window-detected]]
if.app-id = 'com.colliderli.iina'
run = 'move-node-to-workspace M'

[[on-window-detected]]
if.app-id = 'com.spotify.client'
run = 'move-node-to-workspace M'

[[on-window-detected]]
if.app-id = 'dev.zed.Zed'
run = 'move-node-to-workspace U'

[[on-window-detected]]
if.app-id = 'dev.kdrag0n.MacVirt'
run = 'move-node-to-workspace U'

[[on-window-detected]]
if.app-id = 'com.google.android.studio'
run = 'move-node-to-workspace U'

[[on-window-detected]]
if.app-name-regex-substring = 'xcode'
run = 'move-node-to-workspace U'

[[on-window-detected]]
if.app-id = 'com.apple.Safari'
run = 'move-node-to-workspace I'

[[on-window-detected]]
if.app-id = 'net.imput.helium'
run = 'move-node-to-workspace I'

[[on-window-detected]]
if.app-name-regex-substring = 'aseprite'
run = 'move-node-to-workspace O'

[[on-window-detected]]
if.app-id = 'com.blackmagic-design.DaVinciResolveLite'
run = 'move-node-to-workspace O'

[[on-window-detected]]
if.app-id = 'com.hnc.Discord'
run = 'move-node-to-workspace P'

[[on-window-detected]]
if.app-id = 'net.whatsapp.WhatsApp'
run = 'move-node-to-workspace P'
