# System Settings

[set.NSGlobalDomain]
NSAutoFillHeuristicControllerEnabled = false
"com.apple.keyboard.fnState" = false
NSWindowShouldDragOnGesture = true
InitialKeyRepeat = 15
KeyRepeat = 2
ApplePressAndHoldEnabled = false
NSAutomaticInlinePredictionEnabled = false
NSAutomaticSpellingCorrectionEnabled = false
NSDocumentSaveNewDocumentsToCloud = false

[set.dock]
tilesize = 78
autohide-delay = 0
autohide-time-modifier = 0.6
expose-group-apps = true
mineffect = "suck"
magnification = true
orientation = "right"
show-recents = false
autohide = true
static-only = true

[set.WindowManager]
StageManagerHideWidgets = true
StandardHideDesktopIcons = true
StandardHideWidgets = true
EnableTilingByEdgeDrag = false

[set.menuextra.clock]
FlashDateSeparators = true
Show24Hour = false
ShowAMPM = false
ShowDate = 1
ShowDayOfWeek = false
ShowSeconds = true

[set.AppleMultitouchTrackpad]
FirstClickThreshold = 0
TrackpadThreeFingerDrag = true

[set.HIToolbox]
AppleFnUsageType = 0

[set.finder]
FXDefaultSearchScope = "SCcf"
FXEnableExtensionChangeWarning = false
FXRemoveOldTrashItems = true
AppleShowAllFiles = true
ShowExternalHardDrivesOnDesktop = false
CreateDesktop = false
ShowPathbar = true

[set.screencapture]
show-thumbnail = false
target = "clipboard"
type = "png"

# Variable declarations
#
# NOTE: This is not exported to the rest of the environment *outside* of the program.

[vars]
hostname = "darkstar"

# External commands
#
# NOTE: Upgrade commands are non-flagged.

[command.dotfiles]
run = """
if [ ! -d ~/Developer/dotfiles ]; then
  git clone https://github.com/hitblast/dotfiles.git ~/Developer/dotfiles
fi
cd ~/Developer/dotfiles
git remote set-url origin hub:hitblast/dotfiles
stow . -t ~ --adopt
"""
ensure_first = true
required = [
    "stow",
    "git",
]
flag = true

[command.mise]
run = "mise install"
ensure_first = true
required = ["mise"]
flag = true

[command.touchid]
run = """
sed "s/^#auth/auth/" /etc/pam.d/sudo_local.template | sudo tee /etc/pam.d/sudo_local
"""
flag = true

[command.uv]
run = """
uv tool install basedpyright
uv tool install ruff
uv tool install posting
uv tool install yt-dlp --with yt-dlp-ejs
"""
required = ["uv"]
flag = true

[command.hostname]
run = """
sudo scutil --set LocalHostName $hostname
sudo scutil --set HostName $hostname
sudo scutil --set ComputerName $hostname
"""
flag = true

[command.uv-upgrade]
run = "uv tool upgrade --all"
required = ["uv"]

[command.brew-upgrade]
run = "brew update && brew upgrade"
required = ["brew"]

[command.mise-upgrade]
run = "mise up"
required = ["mise"]

# homebrew backup

[brew]
formulae = [
    "bat",
	"bash",
	"bash-completion@2",
	"cargo-edit",
	"cmake",
	"dust",
	"fd",
	"fzf",
    "ffmpeg",
	"fastfetch",
	"git",
	"lazygit",
	"libyaml",
	"mise",
	"ninja",
	"ripgrep",
	"sccache",
	"smartmontools",
	"starship",
	"stow",
	"tokei",
	"machlit/tap/drs",
    "uv",
    "zoxide",
]
casks = [
	"android-studio",
	"appcleaner",
	"cloudflare-warp",
	"discord",
	"font-sf-mono-nerd-font-ligaturized",
	"font-sf-pro",
	"ghostty",
	"hot",
	"helium-browser",
	"iina",
	"karabiner-elements",
	"keyboardcleantool",
	"nikitabobko/tap/aerospace",
	"orbstack",
	"protonvpn",
	"steam",
	"spotify",
	"transmission",
	"zed",
]
taps = [
	"machlit/tap",
	"nikitabobko/tap",
]
no_deps = true
