
[set.NSGlobalDomain]
NSAutoFillHeuristicControllerEnabled = false
"com.apple.keyboard.fnState" = false
NSWindowShouldDragOnGesture = true
InitialKeyRepeat = 15
KeyRepeat = 2
NSAutomaticInlinePredictionEnabled = false
NSAutomaticSpellingCorrectionEnabled = false
NSDocumentSaveNewDocumentsToCloud = false

[set.dock]
tilesize = 78
autohide-delay = 0
autohide-time-modifier = 0.6
expose-group-apps = true
mineffect = "suck"
magnification = true
orientation = "bottom"
show-recents = false
autohide = true
static-only = true

[set.WindowManager]
StageManagerHideWidgets = true
StandardHideDesktopIcons = true
StandardHideWidgets = true
EnableTilingByEdgeDrag = false

[set.menuextra.clock]
FlashDateSeparators = true
Show24Hour = false
ShowAMPM = false
ShowDate = 1
ShowDayOfWeek = false
ShowSeconds = true

[set.AppleMultitouchTrackpad]
FirstClickThreshold = 0
TrackpadThreeFingerDrag = true

[set.HIToolbox]
AppleFnUsageType = 0

[set.finder]
FXDefaultSearchScope = "SCcf"
FXEnableExtensionChangeWarning = false
FXRemoveOldTrashItems = true
AppleShowAllFiles = true
ShowExternalHardDrivesOnDesktop = false
CreateDesktop = false
ShowPathbar = true

[set.screencapture]
show-thumbnail = false
target = "clipboard"
type = "png"

[vars]
hostname = "darkstar"

[command.mise]
run = "mise install"
required = ["mise"]
flag = true

[command.touchid]
run = """
sed "s/^#auth/auth/" /etc/pam.d/sudo_local.template | sudo tee /etc/pam.d/sudo_local
"""
flag = true

[command.uv]
run = """
uv tool install basedpyright
uv tool install ruff
uv tool install posting
"""
required = ["uv"]
flag = true

# test

[command.uv-upgrade]
run = "uv tool upgrade --all"
required = ["uv"]

[command.brew-upgrade]
run = "brew update && brew upgrade"
required = ["brew"]

[command.hostname]
run = """
sudo scutil --set LocalHostName $hostname
sudo scutil --set HostName $hostname
sudo scutil --set ComputerName $hostname
"""
flag = true

[command.mise-upgrade]
run = "mise up"
required = ["mise"]

[command.dotfiles]
run = """
if [ ! -d ~/Developer/dotfiles ]; then
  git clone https://github.com/hitblast/dotfiles.git ~/Developer/dotfiles
fi
cd ~/Developer/dotfiles
stow . -t ~ --adopt
"""
ensure_first = true
required = [
    "stow",
    "git",
]
flag = true

[brew]
formulae = ["bash", "bash-completion@2", "cargo-audit", "cargo-edit", "cmake", "dust", "git", "libyaml", "mise", "ninja", "sccache", "starship", "stow", "vhs", "hitblast/tap/drs"]
casks = ["affinity", "android-platform-tools", "android-studio", "appcleaner", "container", "discord", "font-sf-mono-nerd-font-ligaturized", "font-sf-pro", "ghostty", "hot", "iina", "karabiner-elements", "keyboardcleantool", "orbstack", "protonvpn", "signal", "tower", "transmission", "zed", "zen", "nikitabobko/tap/aerospace"]
taps = ["hitblast/tap", "nikitabobko/tap", "soloantonio/cartero"]
no_deps = true

[remote]
url = "https://raw.githubusercontent.com/hitblast/dotfiles/refs/heads/master/.config/cutler/config.toml"
autosync = false
