[set.dock]
static-only = true
magnification = true
autohide = true
expose-group-apps = true
autohide-time-modifier = 0.6
autohide-delay = 0
show-recents = false
orientation = "bottom"
mineffect = "suck"
tilesize = 78

[set.screencapture]
target = "clipboard"
type = "png"
show-thumbnail = false

[set.menuextra.clock]
FlashDateSeparators = true
Show24Hour = false
ShowAMPM = false
ShowDate = 2
ShowDayOfWeek = false
ShowSeconds = true

[set.HIToolbox]
AppleFnUsageType = 0

[set.AppleMultitouchTrackpad]
FirstClickThreshold = 0
TrackpadThreeFingerDrag = true

[set.finder]
FXRemoveOldTrashItems = true
AppleShowAllFiles = true
ShowExternalHardDrivesOnDesktop = false
ShowPathbar = true
FXEnableExtensionChangeWarning = false
FXDefaultSearchScope = "SCcf"
CreateDesktop = false

[set.NSGlobalDomain]
NSAutomaticInlinePredictionEnabled = false
NSDocumentSaveNewDocumentsToCloud = false
"com.apple.keyboard.fnState" = false
KeyRepeat = 2
NSAutoFillHeuristicControllerEnabled = false
NSAutomaticSpellingCorrectionEnabled = false
InitialKeyRepeat = 15

[vars]
hostname = "darkstar"

[command.uv]
run = """
uv tool install basedpyright
uv tool install ruff
uv tool install posting
"""
required = ["uv"]
flag = true

[command.mise]
run = "mise install"
required = ["mise"]
flag = true

[command.hostname]
run = """
sudo scutil --set LocalHostName $hostname
sudo scutil --set HostName $hostname
sudo scutil --set ComputerName $hostname
"""
flag = true

[command.uv-upgrade]
run = "uv tool upgrade --all"
required = ["uv"]

[command.dotfiles]
run = """
if [ ! -d ~/Developer/dotfiles ]; then
  git clone https://github.com/hitblast/dotfiles.git ~/Developer/dotfiles
fi
cd ~/Developer/dotfiles
stow . -t ~ --adopt
"""
ensure_first = true
required = [
    "stow",
    "git",
]
flag = true

[command.brew-upgrade]
run = "brew update && brew upgrade"
required = ["brew"]

[command.mise-upgrade]
run = "mise up"
required = ["mise"]

[command.touchid]
run = """
sed "s/^#auth/auth/" /etc/pam.d/sudo_local.template | sudo tee /etc/pam.d/sudo_local
"""
flag = true

[brew]
formulae = [
    "bash",
    "bash-completion@2",
    "cargo-audit",
    "cargo-edit",
    "cmake",
    "dust",
    "git",
    "libyaml",
    "mactop",
    "mise",
    "ninja",
    "sccache",
    "starship",
    "stow",
    "vhs",
    "hitblast/tap/drs",
    "hitblast/tap/hookman",
]
casks = [
    "affinity",
    "android-platform-tools",
    "appcleaner",
    "container",
    "discord",
    "font-sf-mono-nerd-font-ligaturized",
    "ghostty",
    "hot",
    "hyperkey",
    "iina",
    "keyboardcleantool",
    "orbstack",
    "protonvpn",
    "signal",
    "spotify",
    "tower",
    "transmission",
    "zed",
    "nikitabobko/tap/aerospace",
]
taps = [
    "hitblast/tap",
    "nikitabobko/tap",
    "soloantonio/cartero",
]
no_deps = true

[remote]
url = "https://raw.githubusercontent.com/hitblast/dotfiles/refs/heads/master/.config/cutler/config.toml"
autosync = false
